<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Handlebars Page</title>
</head>

<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cats">Cats</a></li>
                <li><a href="/cats/add">Add Cat</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}
    <footer>All Rights Reserved &copy;</footer>
</body>

</html>
